@page
@using Microsoft.AspNetCore.Http
@model SparePartsWarehouse.Pages.InvoiceDetailsModel

@{ ViewData["Title"] = "Szczegóły zamówienia";
    if (HttpContext.Session.GetString("user") == "admin")
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_Layout";
    } }

<h1 class="text-center">Szczegóły zamówienia</h1>


<h1 class="text-center">Zamówione produkty</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Zamówiony produkt
            </th>
            <th>
                Ilość
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.OrderItemsList)
            {
                <tr>
                    <td>
                        @product.ProductName
                    </td>
                    <td>
                        @product.Count
                    </td>
                </tr>
            }
    </tbody>
</table>

<h1 class="text-center">Wymagane części</h1>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Detal
            </th>
            <th>
                Wymagana ilość
            </th>
            <th>
                Stan magazynowy
            </th>
        </tr>
    </thead>
    <tbody>
        @for(int i=0; i < Model.OrderDetailList.Count; i++)
            {
                <tr>
                    <td>
                        @Model.OrderDetailList[i].DetailName
                    </td>
                    <td>
                        @Model.OrderDetailList[i].Quantity
                    </td>
                    <td>
                        @Model.OrderStockList[i].Quantity
                    </td>
                </tr>
            }
    </tbody>
</table>